{% extends "encyclopedia/layout.html" %}

{% block title %}
    New page
{% endblock %}

{% block body %}
    <h1>Make a new page</h1>

    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <label for="inp-title">Title</label>
            <input type="text" name="title" id="inp-title" value={{title}}>
        <label for="content-text">Content</label>
            <textarea name="content" id="content-text" cols="20" rows="10" placeholder="#title&#10 body...">{{content}}</textarea>
        <button type="submit">Save</button>

    </form>

{% endblock %}